*{
    margin: 0;
    padding: 0;
}
.left{
    width: 300px;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffff00;
}
.center{
    width:auto;
    height: 1000px;
    margin-left: 300px;
    margin-right: 500px;
}
.right{
    width: 500px;
    height: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #00ff00;
}