<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图文环绕</title>
    <style>
        body{
            margin: 0 auto;
            width: 90%;
            max-width: 980px;
        }
        p{
            line-height: 2;
            white-space: 0.1rem;
        }
        img {
            float: left;
            margin: 0 30px 0 0;
        }
    </style>
</head>
<body>
<h1>年轻时不做会后悔的八件事</h1>

<img src="images/butterfly.jpg" alt="A pretty butterfly with red, white, and brown coloring, sitting on a large leaf">

<p>
    人生总是充满遗憾。问问你周围的人他们有没有遗憾的事情，他们会轻而易举的列出一大堆“遗憾清单”。由于某些原因，20多岁最容易犯错的年纪。
    也许是因为随着年龄的增长，当我们再次回顾那段时光，会发现那是一段充满自由和独立的时光。随着我们步入中年，我们经常希望：要是我们能再有更多选择的机会多好啊！以下就列举了一些如果我们在20来岁没有做就会让我们后悔的事情：
    <h2>一、多旅行</h2>
    我后悔没有到更多的地方去旅行，而且几乎我问过的每个人都会这样说。在有孩子之前、在抵押贷款和结婚之前，在我们需要承担的责任和花销较少时，正是旅游的大好机，但是由于种种原因，我们总觉得我们以后会有更多的时间去旅行。
    我们梦想过去埃及看金字塔，在夏威夷海边冲浪，在巴黎的咖啡馆共进晚餐，在罗马品尝香浓的咖啡，徒步穿越热带雨林等等诸如此类的计划。可悲的是，大部分人都没有付诸行动，只是看着机会白白溜走。
    <h2>二、早投资</h2>
    多少次回想我们都恨不得踢自己一脚：为什么不在20来岁就开始401K（小编注：美国的一种养老金制度）计划，为什么没有将多余的现金用于长期投资，为什么没有早早的为我们未来投资。不管我们再怎么努力，错过的时光都不会重来了。等到我们四五十岁的时候再奋起直追已为时已晚了。
    <h2>三、更合理的安排支出</h2>
    为了退休后的投资或房子的首付，我们需要更合理的理财。比如说买一辆不错的二手车，而不是把钱浪费在新款车型上……我们也可以减少外出就餐，攒钱买房子，少买点鞋子和衣服，提前还清助学贷款。这么多的攒钱机会都错过了，我们用钱换来了很多实实在在的物品，却没有更多关注我们的未来。
    <h2>四、更好的规划人生</h2>
    我后悔我没有仔细思考我的人生道路，我想要做的事情，我想成为一个什么样的人以及如何才能实现。如果在20多岁的时候我们能更好的规划人生，我们在40多岁的时候就会更上一层楼，也许还会感觉到更幸福。
    <h2>五、更多的人生体验</h2>
    我多希望我以前学会了滑雪、画画，会说意大利语，会跳探戈。我后悔在安定下来之前没有在别的地方生活过。很多人也都和我一样后悔没有持之以恒的培养自己的爱好，没有学跳伞，没有去爬山。我确实更喜欢务实，但也很后悔没有去学更多的东西，没有尝试新事物，这些事物已经无法再融入一个40岁的全职妻子加母亲的生活中了。
    <h2>六、更积极向上的生活方式</h2>
    年轻的时候，我们肆意的挥霍着我们的青春活力……我多想在我膝关节疼痛之前能跑场马拉松，多骑骑自行车、多走走看看，在腿脚强健的时候多骑骑动感单车。我后悔没有参加垒球社团或排球联盟。总是等到体力透支病痛来袭，我们才意识到年轻时锻炼的可贵。
    <h2>七、交更多的朋友</h2>
    我后悔没有更多的伸出手去，没有更努力去结交那么一伙儿可以陪我度过更多艰难时光的朋友。我们确实也有交际，但是大多数人并没有把重心放在建立更深更持久的友情上面。一些人做到了，但是还有很人却没有，他们希望当初曾为友情努力过。
    <h2>八、追求一份更有意义的职业</h2>
    大部分人都是听从别人的期待去工作或者按照别人铺好的路去走，而不愿冒更多的职业风险和遵循我们的内心去工作挣钱。比起20多年一直从事自己不喜欢的工作，能在20多岁时自己选择并去追求一份更有意义的工作是多么的好啊！
    毋庸置疑，生活是美好的。很少有人每天四处走走缅怀我们的青春，但是我们确实会偶尔若有所思的边叹气边回忆：多么希望当我们身心自由和精力旺盛的时候，能有更多的计划、更多的活法去扩展自己。
</p>
</body>
</html>