*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.center{
    width: 600px;
    height: 300px;
    background: gainsboro;
    margin-left: 50px;
    position: relative;
}
.nav{
    width: 600px;
    height: 50px;
    background: #fff89f;

}
.nav>li{
    float: left;
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;

}
h2{
    border: 1px solid white;
}
h2:hover{
    border-top: 1px solid red;
    border-bottom: 1px solid blue;

}
.nav>li:hover{
    background: #80ff18;
   // border-top: 3px solid #000;
}

a{
    display: inline-block;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.child{
    text-align: left;
    position: absolute;
    left: 20px;
    display: none;
    animation: to 0.2s normal;

}
.active{
    display: block;
}
.child li:hover{
    color: snow;
}
@keyframes to {
    from{transform: translate(300px)}
    to{transform: translate(0)}
}