*{
    padding: 0;
    margin: 0;
}
body {
    background-image: url("../image/bg_mx.jpg");
    width: 100%;
    height: 10000px;
    background-attachment:fixed;
    /*background-color: red;*/
}

body{
    background-image: none;
}


.box{
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 20px;
}

.box1{
    border-width: 2px;
    border-style: solid;
    border-color: rgba(23, 45,4, .7);
    border-color: transparent;

}
.box1{
    border-bottom: hidden;
    /*box-shadow: inset 0 0 40px 10px #444;*/
}
.box2{

    border-width: 2px;
    border-style: solid;
}

.box3{
    /*border: none;*/
    border-left: 1px solid #000;
    border-left-width: 5px;
    border-left-style: dashed;
    border-left-color: transparent;

    /*chome Safari*/
    -webkit-border-radius: 5px;
    /*firefox-火狐*/
    -moz-border-radius:5px;
    /*微软IE*/
    -ms-border-radius:5px;
    border-radius:5px;


}

.radius{
    width: 200px;
    height: 40px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: #f00;


    -webkit-box-shadow:  0 0 50px  20px #000;
    box-shadow:  0 0 50px  0 #000,inset 0 0 50px  0 #000,0 0 30px 0 #f00,0 0 30px 0 #ff0, 0 0 30px 0 #fff,0 0 30px 0 #00f;
   /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;*/
}
.cicle{
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #0ff;
}

.text-shadow{
    width: 400px;
    height: 400px;
    background-color: #000;
    color: #ffffff;
}

.text-shadow p{
    /*text-shadow: 0 0 5px #fff,
    0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;*/

    font: bold 100px/1.5 georgia,sans-serif;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff,0 0 30px #fff,0 0 40px #ff00de,0 0 70px #ff00de,0 0 80px #ff00de,0 0 100px #ff00de,0 0 150px #ff00de;
}