*{
    padding: 0;
    margin:0;
}
.container{
    text-align: center;
}
img{
    width: 700px;
    background:url(../images/5.jpg) 0 0 no-repeat;
    display: inline-block;
}
.box{
    position: absolute;
    top: 50px;
    right: 470px;
    display: inline-block;
    z-index: 100000;
}
.text{
    font-size: 15px;
    color: #f5f5f5;
    border:1px solid #0fffff;
    border-radius: 5px;
    width: 500px;
    height: 100px;
}
#h1 {
    color: yellow;
    text-align: left;
    margin-top:15px ;
    font-size: 14px;
}
#h2{
    color:cornflowerblue;
    text-align: left;
    margin-top:15px ;
    font-size: 14px;
}
#h3{
    color:purple;
    text-align: left;
    margin-top:15px ;
    font-size: 14px;
}
#h4{
    color:orangered;
    text-align: left;
    margin-top:15px ;
    font-size: 14px;
}
.t_btn{
    position: relative;
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    top: -110px;
    left: 210px;
    width: 80px;
}